---
import css from "./Banner2.module.css";
import img_8 from "./img_8.avif";
---

<picture class={css.banner2}>
  <img src={img_8.src} alt="jarra de café" />
  <p class={css.quote}>
    <span class={css.one}>LA</span>
    <span class={css.two}>EXPERIENCIA</span>
    <span class={css.three}>DEL CAFÉ</span>
  </p>
</picture>
